.manage-specialty-container{
    padding: 0 15px;
    .ms-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
    }
    .all-new-specialty {
        .btn-save-specialty{
            border: none;
            outline: none;
            background: orange;
            min-width: 75px;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 15px 0;

        }
    }
}