.doctor-detail-container{
    margin: 102px 0;
    
    

    .intro-doctor{
        margin-top: 10px;
        display: flex;
        padding: 0 300px;
        .content-left{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            border: 1px solid #ddd;
            background: center;
            background: no-repeat;
            padding: 10px 0px;
            
        }
        .content-right{
            padding: 10px;
            display: flex;
            flex-direction: column;
            width:80%;
            
            
            
            .up{
                padding-top: 15px;
                font-size: 25px;
                font-weight: 600;
            }
            .down{
                padding-top: 10px;
            }
        }
    }

    .schedule-doctor{
        display: flex;
        min-height: 200px;
        padding: 10px 300px;
       
        .content-left{
            width: 50%;
        }
        .content-right{
            width: 50%;
        }
    }

    .detail-infor-doctor{
        padding: 10px 300px;
        background-color: #eeecec;
        
        h3{
            font-size: 17px;
        }
        img{
            width: 100%;
        }
    }
}