//reset slick sider css
.slick-prev{
    height: 50px !important;
    width: 50px !important;
    background: rgb(169, 169, 169) !important;
    left: -1 !important;
    z-index: 1;
    
    border-radius: 50% !important;
            &:hover{
                background:#1289de !important; ;
            }  
}
.slick-prev:before{
    font-family: FontAwesome !important;
    color: white !important;

}
.slick-next{
    right: 0 !important;
    height: 50px !important;
    width: 50px !important;
    background: rgb(169, 169, 169) !important;
    
    border-radius: 50% !important;
            &:hover{
                background: #1289de !important;
            }
}
.slick-next:before{
    font-family: FontAwesome !important;
    color: white !important;
}

.slick-disabled{
    display: none !important;
}

.section-share {
    // &.section-specialty{
    //     background: #f5f5f5;
    // }
    &.section-medical-facility{
        background: #f5f5f5;
    }
    // &.section-outstanding-doctor{
    //     background: #f5f5f5;
    // }
    &.section-HandBook{
        background: #f5f5f5;

    }
    
    &.section-about{
        // background: #f5f5f5;
        height: 500px !important;
    }

}

.section-share{
    height: 330px;
    // margin: 0 150px;
    .section-header{
        display: flex;
        justify-content: center;
        width: 100%;     
        height: 60px;
        margin-bottom: 20px;
        margin-top: 20px;
        .title{
            height: 40px;
            width: 75%;
            .btn-title{
                height: 35px;
                border: none;
                background: rgb(171, 170, 170);
                margin-right: 30px; 
                font-size: 15px;
                opacity: 0.7;
                float: right;
                &:hover{
                    background: #FFC419;
                    color: white;
                }
            }
            .child-title{
                margin-top: 5px;
                font-size: 20px;
                font-weight: 600;
                float: left;
                color: black;
            }
        }
        
        
    }
    .section-content{
        height: 70%;
        margin: 0 auto;
        width: 75%;
        
            .img-customize{  
               
                cursor: pointer;   
                outline: none;
                padding: 8px ;
                
                &:hover{
                    color:#0dcaf0;
                }
                .inside{
                    height: 190px;
                    margin-bottom: 5px;
                 .img{
                    height: 100%;
                    width: 100%;
                 }
                }
                 &.section-medical-facility{
                    
                    .inside{
                        height: 190px !important;
                        background-color: white !important;
                        padding: 20px !important;
                        .img{ 
                            background-size:contain !important;
                            // margin:0 auto;
                            width: 278px !important;
                            height: 150px !important;                        
                        }
                    }
                    
                 }
                 &.outstanding-doctor{
                    border: 0.2px solid #ddd;
                    height: 190px;                    
                    cursor: pointer;

                    .img{
                        background-size:contain;
                        width: 120px !important;
                        height: 120px !important;
                        margin: 5px auto;
                        border-radius: 50%;
                    }
                 }

                 &.section-HandBook{
                    
                    .inside{
                        height: 190px !important;
                        
                        .img{ 
                            margin:0 auto;
                            width: 100% !important;
                            height: 160px !important;                        
                        }
                    }
                    
                 }
            }
         
        
    }
    
}
.outer-bg{
    padding-right: 15px;
}

.home-footer{
    text-align: center;
    padding-top: 6px;

    a{
        text-decoration: unset;
    }

}

.section-about{
    padding: 20px 240px;
    .section-about-header{
      
        font-size: 24px;
        font-weight: 600;
    }
    .section-content-about{
        display: flex;
        gap: 15px;
        width: 100%;
        .content-left-about{
            width: 100%;
        }
        .content-right-about{
            width: 100%;
        }

    }
}

